<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Thank you for visiting Information Literacy 4 Everyone
            </p>
        </div>
    </div>
</footer>